/* regole generali di pagina */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* regole header */
header{
  width: 100%;
  border: 2px solid black;
}

.navbar{
  height: 50px;
  background-color: red;

}
.contatti{
  height: 50px;
  background-color: blue;

}
.link{
  height: 50px;
  background-color: green;

}

/* stile della prima sezione centrale */
.intro{
  width: 100%;
}

.intro .bg{
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid black;
}
