/* regole generali di pagina */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* regole header */
header{
  width: 100%;
  /* border: 1px solid black; */
}
/* stile della navbar */
.navbar{
  width: 100%;
  background-color: #33475B;
  /* border: 1px solid black; */
}

.logo{
  padding: 10px;
  float: left;
}

.nav1{
  float: left;
  margin-left: 5%;
  padding-top: 15px;
}

.navlist{
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
}

.navlist a{
  color: #fff;
  text-decoration: none;
}

.login {
  float: right;
  margin-right: 10%;
  padding-top: 5px;
}

.settings{
  padding: 0 30px;
  border-right: 1px solid black;
}

.user{
  border: 3px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px;
}

.login a{
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

/* clearfix navbar */
.navbar:after{
  content: "";
  display: table;
  clear: both;
}

/* stile area contatti */
.contatti{
  background-color: darkgrey;
  width: 100%;
  /* border: 1px solid black; */
}

.lingua{
  float: left;
  width: 50%;
  margin-left: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.eng{
  margin-right: 15px;
  border-right: 2px solid black;
  padding: 0 15px;
}

.lingua a{
  color: #33475B;
  text-decoration: none;
  font-size: 18px;
}

.get-hubspot{
  float: left;
  margin-left: 10%;
  width: 20%;
  margin-top: 15px;
}

.get-hubspot a{
  color: #fff;
  background-color: #FF7A59;
  padding: 5px;
  border: 2px solid black;
  text-decoration: none;
  font-weight: bold;
}


/* clearfix sezione contatti */
.contatti:after{
  content: "";
  display: table;
  clear: both;
}

/* stile area link di pagina */
.link{
  width: 100%;
  background-color: white;
  /* border: 2px solid black; */
}

#logo{
  float: left;
  width: 50%;
}

.logo2{
  margin: 0 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.links{
  float: right;
  width: 20%;
  margin-right: 16%;
}

.links ul li{
  display: inline-block;
}

.links ul{
  padding-top: 20px;
}

.links a{
  color: #33475B;
  text-decoration: none;
  font-size: 18px;
  padding: 5px;
  margin: 10px 0;
  font-weight: bold;
}

/* clearfix sezione link */
.link:after{
  content: "";
  display: table;
  clear: both;
}

header:after{
  content: "";
  display: table;
  clear: both;
}

/* stile della prima sezione centrale */
.intro{
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 5%;
}

.intro .bg{
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.introtext{
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, 50%);
}

.introtext h1{
  color: #33475B;
  font-size: 50px;
  margin-bottom: 20px;
}

.introtext p{
  margin-bottom: 45px;
}
.introtext a{
  color: #000;
  border: 1px solid black;
  background: #fff;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

/* stile della sezione centrale grigia */

.sezione-grigia{
  width: 100%;
  background-color: darkgrey;
  padding-bottom: 30px;
}

.cubo{
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
}

.imgcubo{
  margin-top: 10%;
  width: 20%;
}

.cubo h2{
  margin-bottom: 30px;
}
/* stile prima sezione bianca */
.free-hubspot{
  width: 60%;
  margin: 0 20%;
  background-color: white;
}
.illustration{
  width: 30%;
  float: left;
}

.illustration img{
  margin: 5% 20%;
}

.illustration a{
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  display: inline-block;
  margin-left: 35%;
  margin-bottom: 10px;
  background-color: #FF7A59;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.freetxt{
  float: left;
  width: 50%;
  margin-left: 20%;
  margin-top: 50px;
}

.freetxt p{
  margin: 30px 0;
}

.freetxt ul{
  list-style: square;
  margin-bottom: 30px;
}

.freetxt ul li{
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  font-weight: bold;
}

/* clearfix sezione free hubspot */
.free-hubspot:after{
  content: "";
  display: table;
  clear: both;
}

/* stile sezione delle tre colonne */
.trittico{
  width: 60%;
  margin: 1% 20% 0;
}

.marketing {
  height: 600px;
  width: 30%;
  float: left;
  background-color: white;
  text-align: center;
}

.col2{
  margin: 0 5%;
}

.img-text{
  height: 50%;
  border-bottom: 2px solid black;
}

.trimg{
  width: 40%;
  margin-bottom: 30px;
}

.col2 .trimg{
  margin-top: 25px;
}

.marketing h2{
  margin-bottom: 20px;
}
/* stile seconda parte trittico */

.features{
  height: 50%;
  margin-top: 20px;
}

.features li{
  line-height: 30px;
  list-style: none;
}

.features ul{
  margin-bottom: 80px;
}

.features i{
  margin-right: 20px;
}

.features a{
  padding: 10px;
  color: white;
  text-decoration: none;
  background-color: #FF7A59;
  border: 2px solid black;
  border-radius: 10px;
}

/* crearfix trittico */
.trittico:after{
  content: "";
  display: table;
  clear: both;
}

/* stile sezione azzurra */

.azure{
  width: 100%;
  background-color: #00B8AA;
}


.azure-text{
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

.eightcontainer{
  width: 60%;
  height: 400px;
  margin: 5% 20% 0;
}

.blocco{
  width: 25%;
  float: left;
  text-align: center;
  padding: 30px;
  line-height: 40px;
  color: #fff;
  font-size: 1.4em;

}

.cont1, .cont2, .cont3, .cont4{
  border-bottom: 1px solid white;
}

.cont1, .cont2, .cont3, .cont5, .cont6, .cont7{
  border-right: 1px solid white;
}

/* clearfix sezione azzurra */
.azure:after{
  content: "";
  display: table;
  clear: both;
}


/* stile sezione foto */
.start-growing{
  width: 100%;
  margin: 0 20%;
}

.textarea{
  float: left;
  width: 30%;
  height: 500px;
}

.testo{
  padding-top: 200px;
}

.testo .txt{
  margin-bottom: 30px;
  font-weight: bold;
}

#get{
  padding: 10px;
  background-color: #FF7A59;
  border: 2px solid #000;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.testo h6{
  margin-top: 20px;
}

.photo{
  float: left;
  width: 30%;
}

.photograph{
  width: 50%;
  margin-top: 100px;
  margin-left: 200px;
  border-radius: 50%;
}

/* clearfix sezione foto */
.start-growing:after{
  content: "";
  display: table;
  clear: both;
}

/* sezione footer */
footer{
  width: 100%;
  height: 500px;
  background-color: #33475B;
}

/* sezione della lista */
